@tailwind base;
@tailwind components;
@tailwind utilities;

li {
  list-style: none;
}

.text-md {
  font-size: 16px;
  line-height: 22px;
}

.h-hero-section {
  height: 550px;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}
